<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
        <%= render "partials/backend/menu" %>
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
            <%= render "partials/backend/sidebar" %>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Welcome back, <%= current_user.name %>!
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    <%= render 'partials/frontend/footer' %>
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
